<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="/assets/css/mystyle.css" >
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Welcome to home page of the project</h1>
<img src="/assets/images/image1.jpg">
<hr>
<input type="button" value="click me" id="b1" name="b1">
<hr>
<input type="button" value="hide" id="b2" name="b2">
<input type="button" value="show" id="b3" name="b3">

<div id="d1">
    <li>coffee</li>
    <li>tea</li>
    <li>juice</li>
    <li>air</li>
</div>

<hr>
<a href="{% url 'firstapp:about1'%}">About page</a>

</body>
</html>

<script type="text/javascript" src="/assets/js/jquerymain.js">

</script>

<script type="text/javascript" src="/assets/js/first.js">

</script>