<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Full Name</label>
    <input type="text" id="t1" name="t1"><br>
    <label>Mobile</label>
    <input type="text" id="t2" name="t2"><br>
    <label>password</label>
    <input type="password" id="p1" name="p1"><br>
    <label>email</label>
    <input type="text" id="t3" name="t3"><br>
    <input type="submit" value="insert-data" id="b1" name="b1">
</form>

<div>
    {% if success %}
    <script type="text/javascript">
        alert("Successfully Registered")
    </script>
    {% endif %}
</div>

</body>
</html>